<div class="page-content">
  <div class="spacer-block-20"></div>
  <div class="page-intro">
    <h1>
      About Me
    </h1>
  </div>
  <div class="spacer-block-20"></div>
  <div class="about-bio">
    <figure class="figure">
      <img src="/images/doge.webp" alt="Doge" style="height: 20rem; margin-right: 20px;" />
      <figcaption class="figure-caption">
        Photo by
        <a class="image-link" href="https://www.reddit.com/r/photoshopbattles/comments/i4wdbo/psbattle_this_dog_wearing_a_box_helmet/g0lqu0n/?utm_source=share&utm_medium=web2x&context=3">u/LFDT</a>
      </figcaption>
    </figure>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent auctor posuere ex ut placerat. Sed porta dui et dolor ornare sollicitudin. Nam posuere varius nisl et rhoncus. Aliquam auctor bibendum ante et volutpat. Praesent tincidunt tempus diam, id pretium augue faucibus sit amet. Nullam faucibus nisi vestibulum venenatis euismod. Praesent eu consectetur lorem. Sed pharetra porttitor nisl non commodo. Nullam neque urna, euismod nec pellentesque ac, volutpat vitae odio.
      <br />
      <br />
      Integer et lectus sit amet magna feugiat rutrum. Integer in rhoncus orci. Morbi tincidunt dapibus leo eget mattis. Nulla hendrerit et ipsum vitae dictum. Duis a ipsum arcu. Mauris vel sapien ut massa imperdiet sollicitudin eget at ex. Ut ut eleifend ipsum. Ut viverra rhoncus mattis. Duis in interdum augue. Fusce blandit tortor quam, at congue odio faucibus non. In et risus vitae risus tincidunt eleifend. Phasellus finibus nunc ac aliquet laoreet. Praesent blandit metus mollis elit consequat vehicula. Etiam vel viverra erat.
      <br />
      <br />
      Ut dictum libero urna. Sed iaculis libero sed nisl porta condimentum. Sed congue malesuada facilisis. Maecenas at nulla cursus, accumsan augue eu, tempus urna. Sed eu nibh ut risus scelerisque eleifend et nec tortor. Nullam interdum id ligula lobortis pulvinar. Maecenas tempor malesuada odio, at molestie ex viverra vitae. Proin ipsum risus, iaculis sed sagittis vitae, semper et sapien. Ut non nunc in velit dictum laoreet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras et pharetra dolor. Fusce finibus est vitae odio consectetur, eu tincidunt metus faucibus. Maecenas mattis, erat eu rhoncus rhoncus, enim nibh euismod turpis, nec rhoncus est mauris quis nisl. Nam vestibulum convallis tellus ac mattis.
    </p>
  </div>
</div>
