<div class="page-content">
  <div class="spacer-block-20"></div>
  <div class="page-intro">
    <h1>
      Blog
    </h1>
  </div>
  <div class="spacer-block-20"></div>
  <div class="blog-content"></div>
</div>
<script src="/js/blog-script.js"></script>
