<div class="page-content">
  <div class="spacer-block-20"></div>
  <div class="page-intro">
    <h2>
      Personal Links
    </h2>
  </div>
  <div class="spacer-block-20"></div>
  <div class="personal-links">
    <ol>
      <li>
        <a href="https://www.linkedin.com/in/jack-gallivan/" title="LinkedIn">
          LinkedIn
        </a>
      </li>
      <li>
        <a href="https://github.com/jackgallivan" title="GitHub">
          GitHub
        </a>
      </li>
    </ol>
  </div>
  <div class="spacer-block-40"></div>
  <div class="page-intro">
    <h2>
      Follow Me
    </h2>
  </div>
  <div class="spacer-block-20"></div>
  <div class="form-container">
    <form
      action="http://web.engr.oregonstate.edu/~zhangluy/tools/class-content/form_tests/check_request.php"
      method="post"
    >
      <legend>
        Get updates on my current projects!
      </legend>
      <div class="form-group">
        <label for="email">
          Email address
        </label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          maxlength="100"
          placeholder="Enter email"
        />
        <br />
        <button type="submit" class="btn btn-primary">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
